:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;
  --primary-1000: #023a3f;
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
* {
  scroll-behavior: smooth;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

.container {
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(34, 34, 34, 0.375);
}
header:hover {
  background: rgba(34, 34, 34, 0.587);
}
header nav a {
  color: var(--grey-100);
  /* font-weight: bold; */
  padding: 0 8px;
  text-decoration: none;
  /* bagggg must be inline-block */
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  transition: 800ms;
}
header nav a:hover {
  color: var(--grey-300);
  text-decoration: none;
  /* transform: translateY(1px); */
}
header .fa-bars {
  font-size: 2em;
  cursor: pointer;
  color: var(--white);
}
header .fa-times {
  font-size: 1.5em;
  cursor: pointer;
}
header .fa-arrow-left {
  color: var(--grey-100);
}
header li {
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav {
    display: block;
    position: fixed;
    top: 52px;
    right: -100%;
    z-index: 2;
    background: rgba(34, 34, 34, 0.587); /* 100% */
    min-height: 100vh;
    width: 100%;
    transition: 800ms;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul div h3 {
    cursor: pointer;
  }
  nav ul div h3:hover,
  nav ul div h3::after {
    background: var(--grey-300);
  }
  header nav ul li {
    margin-bottom: 24px;
    /* border-bottom: 2px solid var(--primary-100); */
    transition: 800ms;
  }
  header nav ul li:hover {
    transform: translateY(2px);
  }
  header nav.active {
    right: 0;
    /* box-shadow: 12px 0 15px -4px rgba(34, 34, 34, 0.201), -12px 0 8px -4px rgba(34, 34, 34, 0.201); */
  }
}
